<div class="glide">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            {% for item in items %}
                <li class="glide__slide">
                    <img src="{{ file_url(item.url) }}" alt="{{ item.alt }}" loading="{{ item.loading }}"
                         width="{{ item.width }}" height="{{ item.height }}" />
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="glide__bullets" data-glide-el="controls[nav]">
        <button class="glide__bullet" data-glide-dir="=0"></button>
        <button class="glide__bullet" data-glide-dir="=1"></button>
        <button class="glide__bullet" data-glide-dir="=2"></button>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
        <button data-glide-dir="<">Prev</button>
        <button data-glide-dir=">">Next</button>
    </div>
</div>